CrackHashSystem1/contract/src/main/resources/xsd/manager-worker-cancel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="crackHashCancelRequest" type="CrackHashCancelRequestType"/>

    <xs:complexType name="CrackHashCancelRequestType">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="cancelAll" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
