CrackHashSystem2/task2/contract/src/main/resources/xsd/manager-worker-task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="crackHashManagerRequest" type="CrackHashManagerRequestType"/>

    <xs:complexType name="CrackHashManagerRequestType">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string"/>
            <xs:element name="hash" type="xs:string"/>
            <xs:element name="alphabet" type="xs:string"/>
            <xs:element name="maxLength" type="xs:int"/>
            <xs:element name="partNumber" type="xs:int"/>
            <xs:element name="partCount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
